.app {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.search {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search input{
  padding: 10px;
  font-size: 16px;
  width: 300px

}

search button{
  padding: 10px 20px;
  cursor: pointer;
}

error {
  color: red;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding:12px;
  border: 1px solid #ddd;
  text-align: center;
}
th {
  background-color: #a2f7ff;
}